Options All -Indexes

#ocultar informaciondel servidor apache, php y sistema operativo

ServerSignature Off

# Hacer que el código de PHP parezca otro tipo de código
#AddType application/x-httpd-php .asp .py .pl

#deny from all

#asegurar archivo ENV
<Files .env>
order allow,deny
deny from all
</Files>

<Files server.php>
order allow,deny
deny from all
</Files>

# asegurar htaccess
<Files .htaccess>
order allow,deny
deny from all
</Files>


#IndexIgnore *

# los que esta entre (son los archivos el de js es javascript, alli agregas los archivo que quieres ocultar)
# el resultado sera una pagina de 403 ¡Acceso prohibido!
<FilesMatch "\.(htaccess|htpasswd|ini|php|fla|js|css|txt|jpg)$ ">
Order Allow,Deny
Deny from all
</FilesMatch>